.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pongin{
    margin: auto;
    border-radius: 20px;
}
.btn{
    width: 100px;
    height: 50px;
    

}
