.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pongin{
    margin: auto;
    border-radius: 20px;
    height: 300px;
}
.btn{
    border-width: 5px;
    border-style: solid;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-weight: 540;
    font-size: large;
    text-align: center;
    background: linear-gradient(to right, rgb(255, 194, 255), rgb(0, 179, 255));
}
.btn:hover{
    border-style:double;
}
.pongin:hover{
    transform: rotateX(10deg) rotateY(10deg);
    transition: transform 0.5s;
}
.pongin {
  transition: transform 0.5s;
}
.pongin:hover:after {
  transform: rotateX(50deg) rotateY(50deg);
}
#divpara{
    color: #ffffff;
    text-align: center;
    animation: identifier 2s infinite;
}
@keyframes identifier {
    0% { font-size: 1em; }
    50% { font-size: 1.5em; }
    100% { font-size: 1em; }
}
p{
    color: #ffffff;
}
li{
    color: #ffffff;
    font-size: larger;
}
.pengi{
    border-style:outset;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(0, 21, 255), purple);
    color: #ffffff;
}
.pengi:hover{
    border-width: 5px;
}



